@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.46); /* Black with 50% opacity */
    background-blend-mode: overlay;
}
